/* styles.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navbar .upload-form {
    margin-right: 10px;
}

table.data {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* to style the highlighted text */
span.highlight {
    background-color: yellow;
    font-weight: bold;
}
